<h1>Welcome!</h1>

<%= form_for @conn, Routes.user_path(@conn, :create), fn f -> %>
  <%= label f, :name %>
  <%= text_input f, :name %>

  <%= label f, :phone_number %>
  <%= number_input f, :phone_number %>

  <div>
    <%= submit "Sign up" %>
  </div>
<% end %>
