<_h1>Show User</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Verification code:</strong>
    <%= @user.verification_code %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </li>

  <li>
    <strong>Last login at:</strong>
    <%= @user.last_login_at %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
