<h1>Please type in your verification code.</h1>

<%= form_for @conn, Routes.user_path(@conn, :verify_user), fn f -> %>
  <%= label f, :code %>
  <%= number_input f, :code %>

  <div>
    <%= submit "Log in" %>
  </div>
<% end %>
