<%= form_for @conn, Routes.journal_path(@conn, :create), fn f -> %>
  <div class="card--section">
    <div class="card--section--title">
      Create a Journal
    </div>

    <div class="card--section--item">
      <div class="card--section--item-label">
        <b>Name</b>
      </div>
      <div class="card--section--item-box">
        <%= text_input f, :name %>
      </div>
    </div>

    <%= submit "Create", class: "card--button" %>
  </div>
<% end %>
